{%  extends 'index.html' %}
{% block title %} 
 About
{%endblock title %}

{% block body%}
<div id="carouselExampleRide" class="carousel slide mb-5" data-bs-ride="true">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/me7.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
          <p class="fs-1">Your Necessity is our Priority</p>
          
        </div> 
</div>
</div>

<h1 class= "text-center">About us</h1>
<div class="container border border-info">
<p class="text-center fs-5">We understand that being stranded on the 
  side of the road can be a stressful experience, which is why we have created a platform that connects users with reliable service providers quickly and efficiently. Our goal is to provide you with the peace of mind that comes with knowing that help is always just a few clicks away.
</p>


<p class="text-center fs-5">
  At our core, we are a user-friendly platform that connects those in need of roadside assistance with skilled and experienced service providers. We have designed our system to be easy to use, even in moments of high stress, so that you can get the help you need as quickly and seamlessly as possible.
</p>
  
<p class="text-center fs-5">
  Our platform is similar to popular apps like Zomato or Amazon. Both users and service providers can register with our platform, allowing us to match the nearest service provider to the location where assistance is required. Our service providers are carefully vetted and undergo thorough background checks to ensure that they are qualified to provide the services you need.

</p>

<p class="text-center fs-5">
  We pride ourselves on our commitment to customer service. Our support team is available 24/7 to answer any questions you may have and to provide assistance with any issues that may arise. We are dedicated to ensuring that your experience with our platform is always positive and stress-free.
</p>

<p class="text-center fs-5">
  
Thank you for choosing our Roadside Assistance Project. We are excited to be your trusted partner in times of need, and we look forward to serving you in the future.
</p>
</div>

{% endblock body%}