{%  extends 'index.html' %}
{% block title %} 
 Home
{%endblock title %}

{% block body%}
<div id="carouselExampleRide" class="carousel slide mb-5" data-bs-ride="true">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="static/me7.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="static/me9.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="static/me5.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4 mb-5 mx-5">
    <div class="col">
      <div class="card h-100">
        <img src="static/me1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">TYRE CHANGE</h5>
          <p class="card-text">Is your car pulling to one side or shaking? We can help! Our experts can quickly identify the problem and get your wheels aligned in no time.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="static/Petrol Pump.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">OIL CHANGE</h5>
          <p class="card-text">Regular oil changes are essential to keep your engine running smoothly. Our experts can provide you with a quick and hassle-free oil change service to keep your engine in top condition.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="static/me10.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">MECHANICAL FAULT</h5>
          <p class="card-text">Got a mechanical fault in your car? Our team of experts is always on standby to provide you with the necessary repairs and maintenance to get your car back on the road.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-2 g-4 mx-5 ">
    <div class="col">
      <div class="card ">
        <img src="static/me8.png" class="card-img-top" alt="...">
        <div class="card-body h-30">
          <h5 class="card-title">SERVICE ON TIME</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-30">
        <img src="static/me6.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ENGINE DIAGONSIS</h5>
          <p class="card-text">Is your check engine light on? Our experts can quickly diagnose the problem and provide you with the necessary repairs to keep your engine running smoothly.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="static/me3.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">AUTOMOBILE DESIGN</h5>
          <p class="card-text">No matter what the problem is, our team of experts can provide you with the necessary repairs and maintenance to get your car back on the road.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="static/m11.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">VEHICAL TOWING</h5>
          <p class="card-text">Run out of fuel? No problem! We provide fast and reliable emergency fuel delivery services to get you back on the road in no time.</p>
        </div>
      </div>
    </div>
  </div>

</div>
  </div>


  {% endblock body%}

