{%  extends 'index.html' %}
{% block title %} 
 Services
{%endblock title %}

{% block body%}
<h1 class= "text-center my-3 fs-underline">Our Services</h1>
<div class="row mb-2">
    <div class="col-md-6 ">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative mx-2">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Fuel Delivery</h3>
          <p class="card-text mb-auto">Run out of fuel? No problem! We provide fast and reliable emergency fuel delivery services to get you back on the road in no time.
        </p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src="static/fuel.png" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></img>
        </div>
      </div>
    </div>
    
    <div class="col-md-6  ">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative mx-2">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Engine Diagnostic</h3>
          <p class="card-text mb-auto">Is your check engine light on? Our experts can quickly diagnose the problem and provide you with the necessary repairs to keep your engine running smoothly.
          </p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src="static/engine.png" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></img>
        </div>
      </div>
    </div>



<div class="col-md-6 my-3">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative mx-2">
      <div class="col p-4 d-flex flex-column position-static">
        <h3 class="mb-0">Wheel Alignment</h3>
        <p class="card-text mb-auto">Is your car pulling to one side or shaking? We can help! Our experts can quickly identify the problem and get your wheels aligned in no time.
        </p>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img class="bd-placeholder-img" width="200" height="250" src="static/wheel.png" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></img>
      </div>
    </div>
  </div>
  
  <div class="col-md-6 my-3 ">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative mx-2">
      <div class="col p-4 d-flex flex-column position-static">
        <h3 class="mb-0">Mechanical Fault</h3>
        <p class="card-text mb-auto">Got a mechanical fault in your car? Our team of experts is always on standby to provide you with the necessary repairs and maintenance to get your car back on the road.
        </p>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img class="bd-placeholder-img" width="200" height="250" src="static/mech.png" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></img>
      </div>
    </div>
  </div>


<div class="col-md-6 my-3">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative mx-2">
      <div class="col p-4 d-flex flex-column position-static">
        <h3 class="mb-0">AC Repair</h3>
        <p class="card-text mb-auto"> Is your car's AC not working properly? Our team of experts can provide you with the necessary repairs to keep you cool and comfortable on the road.
        </p>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img class="bd-placeholder-img" width="200" height="250" src="static/ac.png" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></img>
      </div>
    </div>
  </div>
  
  <div class="col-md-6 my-3 ">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative mx-2">
      <div class="col p-4 d-flex flex-column position-static">
        <h3 class="mb-0">Oil Change</h3>
        <p class="card-text mb-auto">Regular oil changes are essential to keep your engine running smoothly. Our experts can provide you with a quick and hassle-free oil change service to keep your engine in top condition.
        </p>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img class="bd-placeholder-img" width="200" height="250" src="https://source.unsplash.com/random/200x250/?car-oil-change" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></img>
      </div>
    </div>
  </div>


<div class="col-md-6 my-3">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative mx-2">
      <div class="col p-4 d-flex flex-column position-static">
        <h3 class="mb-0">Key Lockout</h3>
        <p class="card-text mb-auto">Locked out of your car? Don't worry! We provide quick and efficient key lockout services to help you get back on the road.
        </p>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img class="bd-placeholder-img" width="200" height="250" src="static/key.png" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></img>
      </div>
    </div>
  </div>
  
  <div class="col-md-6 my-3 ">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative mx-2">
      <div class="col p-4 d-flex flex-column position-static">
        <h3 class="mb-0">Break Repair</h3>
        <p class="card-text mb-auto">Faulty brakes can be dangerous. Our team of experts can provide you with the necessary brake repairs and maintenance to ensure your safety on the road.
        </p>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img class="bd-placeholder-img" width="200" height="250" src="https://source.unsplash.com/random/200x250/?car-break" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></img>
      </div>
    </div>
  </div>


<div class="col-md-6 my-3">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative mx-2">
      <div class="col p-4 d-flex flex-column position-static">
        <h3 class="mb-0">Car Wash</h3>
        <p class="card-text mb-auto">We offer top-notch automobile washing services to keep your car looking shiny and new.
        </p>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img class="bd-placeholder-img" width="200" height="250" src="https://source.unsplash.com/random/200x250/?car-washing" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></img>
      </div>
    </div>
  </div>
  
  <div class="col-md-6 my-3 ">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative mx-2">
      <div class="col p-4 d-flex flex-column position-static">
        <h3 class="mb-0">Car Paint</h3>
        <p class="card-text mb-auto">Our professional technicians can help you restore the appearance of your car with our car paint services. We offer a range of options to meet your needs, from touch-up paint to complete paint jobs.</p>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img class="bd-placeholder-img" width="200" height="250" src="static/paint.png" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></img>
      </div>
    </div>
  </div>


<div class="col-md-6 my-3">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative mx-2">
      <div class="col p-4 d-flex flex-column position-static">
        <h3 class="mb-0">Automobile Designing</h3>
        <p class="card-text mb-auto">No matter what the problem is, our team of experts can provide you with the necessary repairs and maintenance to get your car back on the road.
        </p>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img class="bd-placeholder-img" width="200" height="250" src="static/design.png" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></img>
      </div>
    </div>
  </div>
  
  <div class="col-md-6 my-3 ">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative mx-2">
      <div class="col p-4 d-flex flex-column position-static">
        <h3 class="mb-0">Vechical Tow</h3>
        <p class="card-text mb-auto">If your car has broken down, been in an accident, or is otherwise unable to be driven, our reliable towing services are here to help.</p>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img class="bd-placeholder-img" width="200" height="250" src="https://source.unsplash.com/random/200x250/?vehicle-tow" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></img>
      </div>
    </div>
  </div>

  </div>


{% endblock body%}